@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');


:root {
  --font-default: "Ysabeau Infant", sans-serif;
  --base-color:  #d7dd91;
}

body {
  font-family: var(--font-default);
}